@use './partials/global' as *;

//







// <!-- bees background image -->

.hero__bio {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $BandSite-White;
    text-align: center;
    padding-bottom: 1rem;
}


.hero__bio--title {
    padding-left: $bio__paddingLeft--mobile;
    @include PageSection__header--mobile;
}

// <!-- about the musicians -->

.aboutTheMusicians__title{
    @include PageSection__header--mobile;
    padding-left: $bio__paddingLeft--mobile;
    padding-top: 1rem;
}

.aboutTheMusicians {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: $bio__paddingLeft--mobile;
    padding-right: $bio__paddingLeft--mobile;
    
}

.aboutTheMusicians__hero {
    img {
        max-width: 100%;
        height: auto;
        display: block;
        padding-bottom: 2rem;
        object-fit: cover;
        object-position: top;
        
    }
    }
// .aboutTheMusicians__hero {
//     display: flex;
//     justify-content: center;
// }


.beesKnees__title {
    padding-block: 1rem;
    @include PageSection__bodyFooter--mobile;
}

.aboutTheMusicians h1 {
    @include PageSection__header--mobile;
}

.aboutTheMusicians__body {
    @include PageSection__bodyFooter--mobile;
}

.aboutTheMusicians__subheader {
    @include PageSection__subHeader--mobile;
}

.body__firstParagraph {
    padding-right: 0rem;
}


// <!-- Photo Gallery -->

.photoGallery__title{
    @include PageSection__header--mobile;
}

.photoGallery {
    padding-left: $bio__paddingLeft--mobile;
    padding-right: $bio__paddingLeft--mobile;
}

.photoGallery__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.photoGallery__flex li {
    list-style: none;
}

.photoGallery__flex img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}




// -----Media queries for tablets (>768px)--------



@media (min-width: 768px) {
    
    
    
    // <!-- bees background image -->

    

    .hero__bio--title {
        padding-left: $bio__paddingLeft--tablet;
        @include Section__header--wide;
    }

    .hero__bio {
        height: 50vh;
    }

    // <!-- about the musicians -->

    .aboutTheMusicians__title{
        @include Section__header--wide;
        padding-left: $bio__paddingLeft--tablet;
    }

    .aboutTheMusicians {
        width: auto;
        padding-left: 14rem;
        padding-right: 14rem;
    }

    .aboutTheMusicians__body {
        display: flex;
        flex-direction: row
    }

    .beesKnees__title {
        @include PageSection__subHeader--wide;
    }

    .aboutTheMusicians h1 {
        @include Section__header--wide;
    }
    
    .aboutTheMusicians__body {
        @include PageSection__bodyFooter--wide;
    }
    
    .aboutTheMusicians__subheader {
        @include PageSection__subHeader--wide;
    }

    .body__firstParagraph {
        padding-right: 4rem;
    }

    // <!-- Photo Gallery -->

    .photoGallery__title{
        @include Section__header--wide;
    }

    .photoGallery {
        padding-left: $bio__paddingLeft--tablet;
        padding-right: $bio__paddingLeft--tablet;
    }

    .photoGallery__flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; // Adjust the gap between grid items as needed
    }
    .photoGallery__flex img {
        width: 100%;
        height: auto;
        margin-right: 0; // Remove margin-right to avoid extra space
        margin-bottom: 0; // Remove margin-bottom to avoid extra space
    }





}

// Media queries for desktops (1280px or more)
@media (min-width: 1280px) {



    // <!-- bees background image -->

    // <!-- about the musicians -->
    .aboutTheMusicians__title{
        @include Section__header--wide;
        padding-left: $bio__paddingLeft--wide;
    }

    // <!-- Photo Gallery -->

    .photoGallery {
        padding-left: $bio__paddingLeft--wide;
        padding-right: $bio__paddingLeft--wide;
    }

    
}

// v1