.oneRem__space {
  padding-bottom: 1rem;
}

.twoRem__space {
  padding-bottom: 2rem;
}

.threeRem__space {
  padding-bottom: 3rem;
}

.fourRem__space {
  padding-bottom: 4rem;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf");
  font-family: "AvenirNextLTPro-Bold";
}
@font-face {
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf");
  font-family: "AvenirNextLTPro-Regular";
}
@font-face {
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf");
  font-family: "AvenirNextLTPro-Demi";
}
header, .navBar {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
}

.navBar {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 0;
}

.navBar__flex--anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.webTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.navBar__flex--anchor li {
  list-style: none;
}

.navBar__flex--anchor a {
  text-decoration: none;
  color: #FFFFFF;
}

.navBar__flex--BioShows {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  align-self: stretch;
  padding-top: 0rem;
}

.bioShows__flexGrow {
  flex-grow: 1;
  text-align: center;
  padding-bottom: 1rem;
}

.underlining {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  border-bottom: 5px solid rgb(255, 255, 255);
  padding-bottom: 5px;
}

.getInTouch {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.getInTouch__title {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.social-media-icons__individual {
  padding-right: 2rem;
}

.footer__font {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.getInTouch__mobile {
  display: block;
}

.getInTouch__wide {
  display: none;
}

@media (min-width: 768px) {
  .webTitle {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  header, .navBar {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .navBar__flex--anchor {
    flex-direction: row;
    justify-content: flex-start;
    width: 33rem;
    align-items: flex-start;
    padding-left: 2.25rem;
  }
  .navBar__flex--anchor a {
    margin-right: 3rem;
  }
  .navBar__flex--BioShows {
    padding-top: 1rem;
    width: auto;
  }
  .bioShows__flexGrow {
    flex-grow: 0;
  }
  .getInTouch__mobile {
    display: none;
  }
  .getInTouch {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .getInTouch__wide {
    display: flex;
    flex-direction: column;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .getInTouch__wideBar {
    display: flex;
    align-items: baseline;
  }
  .getInTouch__wideBar h1 {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .social-media-icons {
    flex-grow: 1;
  }
  .getInTouch__wideBar--elements {
    padding-right: 4rem;
  }
  #getInTouch__extra--pading {
    padding-right: 3rem;
  }
  .getInTouch__wide--mainInfo {
    display: flex;
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .getInTouch__wide--mainInfoColumns {
    padding-right: 4rem;
  }
  .copyright__footer {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .navBar__flex--anchor {
    width: 30%;
    padding-left: 6rem;
  }
  .hero__bio--title {
    padding-left: 6rem;
  }
  .hero__bio {
    height: 60vh;
  }
  .getInTouch__wide {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.hero__bio {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 1rem;
}

.hero__bio--title {
  padding-left: 1rem;
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.aboutTheMusicians__title {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 1rem;
}

.aboutTheMusicians {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.aboutTheMusicians__hero img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-bottom: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.beesKnees__title {
  padding-block: 1rem;
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.aboutTheMusicians h1 {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.aboutTheMusicians__body {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.aboutTheMusicians__subheader {
  font-family: "AvenirNextLTPro-Demi", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.body__firstParagraph {
  padding-right: 0rem;
}

.photoGallery__title {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.photoGallery {
  padding-left: 1rem;
  padding-right: 1rem;
}

.photoGallery__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.photoGallery__flex li {
  list-style: none;
}

.photoGallery__flex img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.comentSection {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.comentSection h2 {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.image__profileComment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  top: 9.5px;
}

.comentSection__flex {
  display: flex;
  align-items: stretch;
  padding-bottom: 2.5rem;
}

.comentSection__flex > :nth-child(2) {
  flex: 1;
}

.comentSection__imagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.5rem;
}

.nameBox__comments {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 1rem;
}

.nameBox__comments input {
  padding: 0.5rem;
}

.nameBox__comments textarea {
  padding-top: 0.5rem;
  padding-left: 8px;
  padding-bottom: 3rem;
}

#commentForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-weight: bold;
  color: #AFAFAF;
}

#submit__button {
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

#commentsContainer {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #AFAFAF;
}

.image-container {
  min-width: 75px;
  min-height: 5px;
  display: flex;
}

.bc-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  background-color: #E1E1E1;
}

.name-comment-container {
  display: flex;
  justify-content: space-between;
}

.name-container {
  font-family: "AvenirNextLTPro-Demi", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.time-stamp-container {
  font-family: "AvenirNextLTPro-Demi", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #AFAFAF;
}

.comment-text {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.complete-data {
  flex-grow: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
}

input::placeholder, textarea::placeholder {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
}

input, textarea {
  background-color: #faf9f9;
  border: solid 1px #AFAFAF;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .hero__bio--title {
    padding-left: 2.25rem;
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .hero__bio {
    height: 50vh;
  }
  .aboutTheMusicians__title {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 2.25rem;
  }
  .aboutTheMusicians {
    width: auto;
    padding-left: 14rem;
    padding-right: 14rem;
  }
  .aboutTheMusicians__body {
    display: flex;
    flex-direction: row;
  }
  .beesKnees__title {
    font-family: "AvenirNextLTPro-Demi", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .aboutTheMusicians h1 {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .aboutTheMusicians__body {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .aboutTheMusicians__subheader {
    font-family: "AvenirNextLTPro-Demi", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .body__firstParagraph {
    padding-right: 4rem;
  }
  .photoGallery__title {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .photoGallery {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .photoGallery__flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .photoGallery__flex img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
  .comentSection {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  #submit__button {
    width: 33%;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .aboutTheMusicians__title {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 6rem;
  }
  .photoGallery {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .comentSection {
    padding-left: 14rem;
    padding-right: 14rem;
  }
}/*# sourceMappingURL=bio.css.map */