.oneRem__space {
  padding-bottom: 1rem;
}

.twoRem__space {
  padding-bottom: 2rem;
}

.threeRem__space {
  padding-bottom: 3rem;
}

.fourRem__space {
  padding-bottom: 4rem;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf");
  font-family: "AvenirNextLTPro-Bold";
}
@font-face {
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf");
  font-family: "AvenirNextLTPro-Regular";
}
@font-face {
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf");
  font-family: "AvenirNextLTPro-Demi";
}
header, .navBar {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
}

.navBar {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 0;
}

.navBar__flex--anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.webTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.navBar__flex--anchor li {
  list-style: none;
}

.navBar__flex--anchor a {
  text-decoration: none;
  color: #FFFFFF;
}

.navBar__flex--BioShows {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  align-self: stretch;
  padding-top: 0rem;
}

.bioShows__flexGrow {
  flex-grow: 1;
  text-align: center;
  padding-bottom: 1rem;
}

.underlining {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  border-bottom: 5px solid rgb(255, 255, 255);
  padding-bottom: 5px;
}

.getInTouch {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.getInTouch__title {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.social-media-icons__individual {
  padding-right: 2rem;
}

.footer__font {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.getInTouch__mobile {
  display: block;
}

.getInTouch__wide {
  display: none;
}

@media (min-width: 768px) {
  .webTitle {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  header, .navBar {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .navBar__flex--anchor {
    flex-direction: row;
    justify-content: flex-start;
    width: 33rem;
    align-items: flex-start;
    padding-left: 2.25rem;
  }
  .navBar__flex--anchor a {
    margin-right: 3rem;
  }
  .navBar__flex--BioShows {
    padding-top: 1rem;
    width: auto;
  }
  .bioShows__flexGrow {
    flex-grow: 0;
  }
  .getInTouch__mobile {
    display: none;
  }
  .getInTouch {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .getInTouch__wide {
    display: flex;
    flex-direction: column;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .getInTouch__wideBar {
    display: flex;
    align-items: baseline;
  }
  .getInTouch__wideBar h1 {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .social-media-icons {
    flex-grow: 1;
  }
  .getInTouch__wideBar--elements {
    padding-right: 4rem;
  }
  #getInTouch__extra--pading {
    padding-right: 3rem;
  }
  .getInTouch__wide--mainInfo {
    display: flex;
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .getInTouch__wide--mainInfoColumns {
    padding-right: 4rem;
  }
  .copyright__footer {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .navBar__flex--anchor {
    width: 30%;
    padding-left: 6rem;
  }
  .hero__bio--title {
    padding-left: 6rem;
  }
  .hero__bio {
    height: 60vh;
  }
  .getInTouch__wide {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.show {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}/*# sourceMappingURL=shows.css.map */